.article
{
width: 750px;
height: auto;
margin-left: auto;
margin-right: auto;
align-items: center;
}
table{
    padding: 5px;
    margin: 5px;
}
form{
    padding: 5px;
    margin: 5px;
}
.card{
    padding: 5px;
}
.form-group{
    padding: 3px;
}
button{
    padding: 5px;
    margin: 5px;
}